<ion-nav-bar></ion-nav-bar>
<ion-nav-view class="slide-left-right">
  <ion-view title="imin">
    <ion-content data-tap-disabled="false">
    	<div class="imin-signup">
	    	<div>
	    		<p>Welcome to I'm In</p>
	    	</div>
	    	<div>
	    		<p>
	    			Understand our world's protected areas to preserve our planet.
	    		</p>
	    		<p>
	    			<input type="checkbox" ng-click="signup()"> Yes, you can use my location
	    		</p>
	    		<p>
	    			We use your phone's location to notify when you're in a national park region. You can trun off at any stage through <b>settings</b>
	    		</p>
	    	</div>
	    </div>
    </ion-content>
  </ion-view>
</ion-nav-view>
